body, html {
  height: 100%;
  font-family:monospace
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("../img/topo.jpg");
  background-color: aliceblue;
  min-height: 75%;
}

.menu {
  display: none;
}

.w3-text-white{
  text-shadow: 0px 0px 15px black;
}